body {
    margin: auto;
}

.gray {
    color: #9b9b9b;
}

@font-face {
    font-family: HelveticaNeue;
    src: url("HelveticaNeue.ttf");
}

p {
    font-family: HelveticaNeue;
}

/* header */

header {
    border-top: 10px solid #2dcc70;
    width: 1600px;
    height: 600px;
    background-image: url("img/header_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header img {
    position: absolute;
    top: 172px;
    right: 221px;
}

.title {
    margin: 150px 0 0 325px;
    font-family: Pacifico;
    font-size: 60px;
    color: white;
}

.about {
    margin: 30px 0 0 325px;
    font-size: 24px;
    color: white;
}

.description p {
    margin: 5px 0 5px 0;
}

.os {
    margin: 35px 0 0 325px;
}

.os-type {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: black;
    margin-right: 20px;
    opacity: 0.5;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.apple {
    background-image: url("img/apple.png");
    background-position: 50% 40%;
}

.android {
    background-image: url("img/android.png");
    background-position: 50% 50%;
}

.winphone {
    background-image: url("img/winphone.png");
    background-position: 40% 50%;
}

.os a:hover {
    background-color: #2dcc70;
    opacity: 1;
    transition-duration: 0.2s;
}

/* features */

.features {
    height: 215px;
    background-color: white;
    width: 1180px;
    padding: 60px 210px;
}

.feat {
    display: inline-block;
    width: 315px;
}

.feat div {
    height: 98px;
    width: 98px;
    border-radius: 50%;
    background-color: #2dcc70;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.feature-1 div {
    background-image: url("img/feature-1.png");
}

.feature-2 div {
    background-image: url("img/feature-2.png");
}

.feature-3 div {
    background-image: url("img/feature-3.png");
}

.feat p {
    text-align: center;
}

.feat p:first-of-type {
    font-size: 25px;
}

.feat p:last-of-type {
    font-size: 15px;
    line-height: 25px;
}

.feature-2,
.feature-3{
    margin-left: 113px;
}

/* get-notified */

.get-notified {
    height: 307px;
    width: 1180px;
    padding: 60px 210px;
    background-color: #e3e3e3;
}

.updates {
    display: inline-block;
    width: 530px;
    margin-right: 145px;
}

.get-notified div p:first-of-type {
    margin-top: 0;
    font-size: 25px;
}

.get-notified div p:last-of-type {
    font-size: 15px;
    line-height: 25px;
}

.mail {
    width: 446px;
    position: relative;
}

.mail input {
    border: none;
}

.mail input:first-of-type {
    width: 100%;
    padding: 16px 155px 15px 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
}

.mail input:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    color: white;
    font-size: 23px;
    font-weight: bold;
    background-color: #2dcc70;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.get-notified iframe {
    position: absolute;
}

/* testimonials */

.testimonials {
    height: 155px;
    background-color: white;
    width: 1180px;
    padding: 60px 210px 0 210px;
}

.quote {
    padding: 0 160px;
    /*visibility: hidden;*/
}
/*
.clients.c06:hover + .quote{
    visibility: visible;
}
*/
.quote p {
    text-align: center;
    font-size: 18px;
}

.quote p:first-of-type {
    line-height: 25px;
    margin-top: -13px;
}

.clients {
    text-align: center;
    padding-top: 10px;
}

.clients img {
    display: inline-block;
    cursor: pointer;
}

.clients img:hover {
    opacity: 0.5;
}

/* get in touch */

.get-in-touch {
    height: 150px;
    width: 1180px;
    padding: 30px 210px 60px 210px;
    background-color: white;
    text-align: center;
}

.say-hi p:first-of-type{
    font-size: 25px;
}

.social {
    padding-top: 15px;
}

.link {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #d5d5d5;
    margin: 0 3px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.twitter {
    background-image: url("img/twitter.png");
}

.facebook {
    background-image: url("img/facebook.png");
}

.pinterest {
    background-image: url("img/pinterest.png");
}

.google {
    background-image: url("img/google.png");
}

.linkedin {
    background-image: url("img/linkedin.png");
}

.youtube {
    background-image: url("img/youtube.png");
}

.social a:hover {
    background-color: #2dcc70;
    transition-duration: 0.2s;
}

/* footer */

footer {
    width: 1600px;
    height: auto;
    padding: 60px 0;
    text-align: center;
    background-color: #e3e3e3;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #9b9b9b;
    font-size: 15px;
    font-family: HelveticaNeue;
    margin: 0 20px;
}

